header{
    width: 100%;
    background: #ece5e5;
    padding:10px;
    line-height: 2em;
    font-size: 1.5em;
}

header h1{
    margin-left: 20%;
    color: #a39898;
}

.container{
    width: 60%;
    margin: 20px auto;
    position: relative;
}

.search-box{
    margin-bottom: 5px;
}

#search{
    border-radius: 8px;
    padding: 10px 10px 10px 50px;
    border: 2px solid #ece5e5;
    width: 100%;
}
#search::placeholder{
    color: #807d7d;
}


.panel{
    width: 100%;
    border-radius: 5px;
    border: 2px solid #ece5e5;
    position: relative;
    height: auto;
    margin: 10px 0px;
    
}
.panel hr{
    margin: 10px 20px;
    border-top: 1px solid #ece5e5;
}
.row hr:last-child {
    border-top: none;
}

.panel-heading{
    padding: 10px;
    background: #ece5e5;
    color: #797676;
    
}

  
.row{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    flex-wrap: wrap;
    width: 100%;
    
}
.row h4{
    font-size: 1em;
    margin: 5px 10px;
    font-weight: 400;
}
.row p{
    font-size: 0.8em;
    color: #575050;
    margin: 0px 10px;
}
.row a {
    text-decoration: none;
    color: #1a63eb;
}
.col-40{
    flex-basis:40%;
    /* border: 1px solid black; */
    border-right: 2px dotted#ece5e5;   
    
}
.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 60%;
  height: auto;
  margin-left: 20px;
}

.col-40 h2, .col-40 p{
    margin-left: 20px;
}

.col-50 {
    flex-basis:58%;
    /* border: 1px solid black; */
    padding-left: 10px;
    padding-right: 10px;
}
.col-80{
    flex-basis:78%;
}
.col-20{
    flex-basis: 20%;
}

.flexyspan{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.panel .row h2 {
 font-size: 1.2em;
}
.bio{
    text-align: left;
    margin: 8px;
    width: 60%;
}

.bio p{
    font-size: .75em;
    color: #575050;
    margin-top: 10px;
}
.bio h5{
    color: #575050;
    font-size: 1em;
    margin-left: 30px;
}

.label{
    font-size: 0.65em;
    line-height: 1.2em;
    padding: 5px;
    margin: 3px;
    font-weight: 600;
    color: #ffffff; 
    border-radius: 5px;
}
.label-blue{
    background: #1a63eb;       
}

.label-green{
    background: #2e9b0d;
}
.label-cyan{
    background: #3ae7f3;
}

.label-orange{
    background: #fc660f;
}

ul.list-group{
    list-style: none;
    font-size: .8em;
    color: #575050;
    border: 1px solid #dee2e6;
    border-radius: 3px;
}
ul.list-group strong {
    color: #1f1d1d;
    font-weight: 600;
}

li.list-group-item {
    display: block;
    border-bottom: 1px solid #dee2e6;
    padding: 10px;

}